*.iml
.idea/
!.idea/.gitignore
!.idea/codeStyles/
!.idea/codeStyles/Project.xml
!.idea/inspectionProfiles/

.gradle/
**/build/

local.properties

.externalNativeBuild/
.cxx/
captures/

*.jks
*.keystore
*.p12
*.pem
key.properties
keystore.properties
google-services.json

.env
.env.*

*.log
.DS_Store
Thumbs.db
